#pane
{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-left:10px;
}
#pane .selection
{
  padding-left:10px;
  padding-right:10px;
}
.font_style
{
  font-size: 20px;
  font-family: var(--primary-font);
}
.selection select
{
  outline:none;
  width:150px;
  height:30px;
  border-radius:10px;
  padding-left:5px;
  font-size:16px;
  font-family:var(--secondary-font);
  background-color: var(--ghost-white);

}
#pane h4{
    font-size:clamp(18px,2.5vw,20px);
}
.selection select
{
  height:100%;
  max-height: 200px;
  overflow-y:scroll;
}