label
{
    font-family: var(--secondary-font);
    font-size: 20px;
        /* font-weight: bold; */
    
}
h1
{
    font-family: var(--primary-font);
    font-weight:400;
    margin-bottom:10px;
    font-size:clamp(22px,4vw,30px)
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
form input, form select
{
    height:40px;
    width:100%;
    display: block;
    margin-top: 3px;
    border-radius:10px;
    outline: none;
    border:none;
    border: 1px solid rgb(23, 23, 23);
    font-size:clamp(14px,2.5vw,18px);
    padding-left:10px;
}
textarea
{
        width:100%;
        min-width:150px;
      display: block;
          margin-top: 3px;
    border-radius:10px;
    outline: none;
    border:none;
    border: 1px solid rgb(23, 23, 23);
    font-size:18px;
    padding-left:10px;
    height:200px;
    padding-top: 5px;
    font-size:clamp(14px,2.5vw,18px);
       
}
/* form input:focus, textarea:focus ,form select:focus
{
    box-shadow:0px 0px 5px rgb(112, 61, 74),
    0px 0px 15px rgb(255, 206, 218),
    0px 0px 30px rgb(255, 206, 218);
} */
input::placeholder
{
    font-size:15px;
    color:#252525;
}
.input
{
    padding-bottom: 10px;
    padding-top: 5px;
    width:100%;
}
.input label
{
  font-size: clamp(16px,2.5vw,20px);
}
#upload
{
  /* all:unset; */
  border:none;
  padding-left:5px;
}
/* #file-upload-button
{
  outline:none;
  padding:10px;
  background-color:var(--primary-red) !important;
}
#file-upload-button:hover
{
  background-color:var(--primary-green);
} */
.form2
{

    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* background-image: linear-gradient(to bottom,#7fcaf89c,rgba(195, 251, 232, 0.611),rgba(158, 184, 255, 0.611)); */
    /* background-color: rgba(141, 204, 255, 0.775); */

}
.scroll
{
  width: 100%;
  max-width:730px;
    min-width: 150px;
    height: 700px;
  /* max-height:700px; */
  overflow-y:auto;
      background-color: rgba(255, 207, 193, 0.775);
    backdrop-filter: blur(10px);
    border-radius: 20px;
        padding:20px;
    padding-top:30px;
    margin-inline:10px;

}
/* #contribution_form .scroll
{
  height:700px;
  height:;
} */
.form_field
{
    display:none;
    z-index:5;
    width:100%;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:110px;
    /* background-color: transparent   ; */

}
.close
{
  position:absolute;
  top:10px;
  right:10px;
  width:30px;
  height:30px;
  border-radius: 20px;
  z-index: 1;

}
.close:hover svg
{

  color:var(--white);
}
.close:hover
{
      background-color: var(--primary-red);
}

/* Save button for alumini form */

 form .save_btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .1s linear;
  margin-top: 40px;
  letter-spacing: 3px;
  border:none;
  border-radius: 5px;
    background:  var(--primary-green);
    cursor: pointer;
    font-family: var(--secondary-font);
}

 .save_btn:hover {
  background: var(--primary-red);
  color: #ffffff;
  border-radius: 5px;
}

 .save_btn span {
  position: absolute;
  display: block;
}

 .save_btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}


 .save_btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

 .save_btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

 .save_btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}
@media screen and (max-height:830px)
{
  .scroll
  {
    max-height: 80vh ;
  }
}
@media screen and (min-height:830px)
{
  .scroll
  {
    height: 80vh ;
  }
}
@media screen and (max-height:620px)
{
  .scroll
  {
    max-height: 75vh ;
  }
}
@media screen and (max-height:520px)
{
  .scroll   
  {
    max-height: 70vh ;
  }
}
@media screen and (min-height:1200px)
{
  .scroll   
  {
    height: auto;
  }
}
