/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
  font-family: "open_sans";
  src: url("./fonts/open_sans_bold.ttf") ;
}
@font-face {
  font-family: "source_sans";
  src: url("./fonts/source_sans.otf") ;
}
@font-face {
  font-family: "source_serif";
  src: url("./fonts/source_serif.otf") ;
}




:root{
    --primary-red:#8b1414;
    --primary-green:#00483d;
    --mid-green:#007563;
    --mid-red:#DB3A3A;
    --white:white;
    --mid-grey:#969696;
    --dark-grey:#404040;
    --light-grey: #ececec;
    --off-white:#faf9f6;
    --ghost-white:#f0f8ff;
    --primary-font:"open_sans","source_sans";
    --secondary-font:"source_serif"; 
}
html
{
  min-height:100%;
}
body
{

    background-color:var(--white);
    font-family:var(--primary-font);
    height:100%;
 
}
header
{
    height: 60px;
    font-family: var(--primary-font);
    z-index:10;
    position:sticky;
    top:0;
}
#logo
{
    height: 100%;
    background-color:var(--primary-red);
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:relative;
}
#logo_img
{
    width:200px;
    height:60px;
}
nav{
       font-family: var(--primary-font);
       width:500px;

}
nav a{

   color:var(--light-grey);
   font-size: 20px;
   font-weight: 600;

}
ul
{
    list-style: none;
}

a
{
    text-decoration:none;
}
#logo_name
{
    height:100%;
    display:flex;
    
}
nav ul
{
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items:center;
    height:100%;
    
}
#logo_name
{
    display:flex;
    padding-left:10px;
    align-items: center;
}
nav ul li
{
    position: relative;
}
nav ul li::after
{
    content:"";
    height:2px;
    width:100%;
    background-color: var(--white);
    position:absolute;
        transform-origin: right;
    bottom:0;
    left:0;
    transition: 0.3s;
}
nav ul .line::after
{
    transform:scaleX(1);
}
nav ul .underline::after
{
    transform:scaleX(0);

}
nav ul .underline:hover::after
{
    height:2px;
    transform:scaleX(1);
        /* transform-origin: left; */
}
nav ul li:hover a{
    transition:0.3s;
    color:var(--white);
    
}

.admin_btn:hover
{
    background-color: var(--white);
}
.admin_btn:hover svg
{
    color:var(--primary-red);
}
.admin_btn .paragraph {
  color: var(--primary-red);
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 35px;
padding-top:5px;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(.9);
  transition: .2s linear;
}

.icon path {
  stroke:var(--primary-red);
  stroke-width: 1px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.menu
{
  display:none;
  color:white;
  margin-right:20px;

  
}

@media screen and (max-width:400px)
{
  .icon-wrapper svg
  {
    width:25px;
    height:25px;
  }
  .icon-wrapper
  {
    width:40px;
    height:40px;
  }
  .admin_btn
  {
    width:40px;
    height:40px;
  }
}
@media screen and (max-width:625px)
{
  .menu
  {
    display:block;
  }
  
  .add_scale
  {
    transform:scaleY(1) !important;
    /* display:block !important; */
  }
  .navigation
  {
    /* display: none; */
    display: block;
      transform:scaleY(0);
  transition:0.3s transform;
    position:absolute;
    top:100%;
    width:100%;
    background-color:var(--primary-red);
    border-top:solid 2px var(--white);
    transform-origin: top;
  }
  .navigation ul
  {
    flex-direction:column;
  }
    .navigation ul li
    {
      margin:10px;
    }
    nav a 
    {
      font-size:clamp(17px,4vw,20px);
    }
    .navigation ul button
    {
      margin:10px;
    }
    #contact
    {
      flex-direction: column;
    }
    #sec2
    {
      padding-top:20px;
      width:100% !important;
    }
    #sec1
    {
      padding-top:20px;
      width:100% !important;
      padding-inline:10px;
    }
    #part2
    {
      display:flex !important;
      align-items:flex-start !important;
    }
    .content .heading
    {
      margin-bottom:10px;
    }
    .content .para
    {
      font-size:clamp(13px,3vw,18px) !important;
    }
    .para 
    {
        font-size:max(14px,2.6vw) !important;
        padding-bottom:10px !important;
        
    }
    .heading
    {
      font-size:25px !important;
      padding:0px !important;
      padding-block: 5px;
  }
  .sub_head
  {
    font-size: 17px !important;
  }
  .img_desc .img .content 
  {
    padding:5px !important;
  }
  .img_desc .img .content button{
    margin-top:0 !important;
  }
  #explore
  {
    font-size: max(12px,2vw) !important;
  }
  .layout1
  {
    padding-block:6vw !important;
  }
  .layout2
  {
    padding-top:2vw;
  }
  
  #sec1 h1
    {
        font-size:25px !important;
    }
    #part2 h1
    {
      font-size:25px !important;
    }
}


/* From Uiverse.io by NAKAMOZ */ 
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 12%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 87%;
}

.container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.container input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.container input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}


/* profile image styles */
#profile
{
  display: none;
  justify-content: center;
  padding-block:5px;
  border-radius:10px;
  padding-left:5px;
  background-color:rgb(255, 65, 65); 
}
#profile:hover
{
  background-color:white;
}
#profile:hover #profile_text
{
    color:var(--primary-green);
}
#profile:hover .profile_icon svg
{
    color:var(--primary-green);
}
#profile_text
{
    color:white;
    line-height:25px;
    font-size:20px;
     padding-left:5px;
}
.profile_icon
{
    width:25px;
    height:25px;

}
.profile_icon svg
{
  color:white;
}
#profile_img
{
    display:flex;
    /* flex-direction:column; */
    align-items:center;
    justify-content:center;
    /* justify-content: space-evenly; */
}
.bottom
{
    display:flex;
}

/* login button styles */

/* From Uiverse.io by Creatlydev */ 
.button_btn {
  text-decoration: none;
  line-height: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0,0,0,.05);
  background-color: rgb(255, 65, 65);
  color: #121212;
  border: none;
  cursor: pointer;
  padding-block:5px;
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: var(--clr);
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  margin-left:5px;
}
.button__icon svg
{
  color:white;
}

.button__text {
  display: inline-block;
  transition: color .2s;
  padding-block:5px;
  padding-inline:7px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  font-size:20px;
  color:white;
}

.button_btn:hover .button__text {
  color: var(--primary-green);
}
.button_btn:hover .button__icon svg
{
  color:var(--primary-green);
}
.button_btn:hover .button-decor {
  transform: translate(0);
}

/* logout styles */

#log_out
{
    position:absolute;
    display:none;
    top:30px;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* animation:logout .5s ease-out forwards; */
}
#logout
{
    display :flex;
    border:none;
    outline:none;
    align-items:center;
    border-radius:5px;
    font-size:15px;
    padding:5px;
    padding-left:10px;
    background-color: var(--primary-green);
    
}
#logout:hover
{
    background-color:var(--primary-red);

}
#logout span
{
    color:white;
}
#logout svg
{
    color:white;
}
#logout .logout_icon
{
    padding-left:5px;
}
@keyframes logout
{
    0%
    {
        top:30px;
        opacity: 0;
    }
    50%
    {
      opacity: 0.5;
    }
    100%
    {
        top:80px;
        opacity: 1;
        
    }
}
@keyframes logout_reverse
{
  0%
  {
      top:80px;
      opacity: 1;
      
  }
  50%
  {
    opacity: 0.5;
  }
  100%
  {
      top:30px;
      opacity: 0;
      display:none;
  }
}

/* display and non display */

#administrator,#staff
{
  display:none;
}
