/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
  font-family: "open_sans";
  src: url("./fonts/open_sans_bold.ttf") ;
}
@font-face {
  font-family: "source_sans";
  src: url("./fonts/source_sans.otf") ;
}
@font-face {
  font-family: "source_serif";
  src: url("./fonts/source_serif.otf") ;
}




:root{
    --primary-red:#8b1414;
    --primary-green:#00483d;
    --mid-green:#007563;
    --mid-red:#DB3A3A;
    --white:white;
    --mid-grey:#969696;
    --dark-grey:#404040;
    --light-grey: #ececec;
    --off-white:#faf9f6;
    --ghost-white:#f0f8ff;
    --primary-font:"open_sans","source_sans";
    --secondary-font:"source_serif"; 
}
html
{
  min-height:100%;
}
body
{

    background-color:var(--white);
    font-family:var(--primary-font);
    height:100%;
 
}
header
{
    height: 60px;
    font-family: var(--primary-font);
    z-index:10;
    position:sticky;
    top:0;
}
#logo
{
    height: 100%;
    background-color:var(--primary-red);
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:relative;
}
#logo_img
{
    width:200px;
    height:60px;
}
nav{
       font-family: var(--primary-font);
       width:500px;

}
nav a{

   color:var(--light-grey);
   font-size: 20px;
   font-weight: 600;

}
ul
{
    list-style: none;
}

a
{
    text-decoration:none;
}
#logo_name
{
    height:100%;
    display:flex;
    
}
nav ul
{
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items:center;
    height:100%;
    
}
#logo_name
{
    display:flex;
    padding-left:10px;
    align-items: center;
}
nav ul li
{
    position: relative;
}
nav ul li::after
{
    content:"";
    height:2px;
    width:100%;
    background-color: var(--white);
    position:absolute;
    bottom:0;
    left:0;
    transform:scaleX(0);
    transform-origin: right;
    transition: 0.3s;
}
nav ul li:hover::after
{
    height:2px;
    transform:scaleX(1);
        /* transform-origin: left; */
}
nav ul li:hover a{
    transition:0.3s;
    color:var(--white);
    
}

/* login style  */

/* From Uiverse.io by boryanakrasteva */ 
.admin_btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px .2px #00000035;
  box-shadow: 1px 1px 5px .2px #00000035;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  transition-delay: .2s;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
}
.admin_btn svg
{
    color:var(--primary-red);
      transition: .2s linear;
  transition-delay: .2s;
}
.admin_btn:hover {
  width: 130px;
  transition-delay: .2s;
}

.admin_btn:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.admin_btn:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

/* .bnt:hover > .icon-wrapper .icon path {
  /* stroke:var(--primary-red); 
}*/
.admin_btn:hover
{
    background-color: var(--white);
}
.admin_btn:hover svg
{
    color:var(--primary-red);
}
.admin_btn .paragraph {
  color: var(--primary-red);
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 35px;
padding-top:5px;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(.9);
  transition: .2s linear;
}

.icon path {
  stroke:var(--primary-red);
  stroke-width: 1px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.menu
{
  display:none;
  color:white;
  margin-right:20px;

  
}

@media screen and (max-width:400px)
{
  .icon-wrapper svg
  {
    width:25px;
    height:25px;
  }
  .icon-wrapper
  {
    width:40px;
    height:40px;
  }
  .admin_btn
  {
    width:40px;
    height:40px;
  }
}
@media screen and (max-width:625px)
{
  .menu
  {
    display:block;
  }
  
  .add_scale
  {
    transform:scaleY(1) !important;
    /* display:block !important; */
  }
  .navigation
  {
    /* display: none; */
    display: block;
      transform:scaleY(0);
  transition:0.3s transform;
    position:absolute;
    top:100%;
    width:100%;
    background-color:var(--primary-red);
    border-top:solid 2px var(--white);
    transform-origin: top;
  }
  .navigation ul
  {
    flex-direction:column;
  }
    .navigation ul li
    {
      margin:10px;
    }
    nav a 
    {
      font-size:clamp(17px,4vw,20px);
    }
    .navigation ul button
    {
      margin:10px;
    }
    #contact
    {
      flex-direction: column;
    }
    #sec2
    {
      padding-top:20px;
      width:100% !important;
    }
    #sec1
    {
      padding-top:20px;
      width:100% !important;
      padding-inline:10px;
    }
    #part2
    {
      display:flex !important;
      align-items:flex-start !important;
    }
    .content .heading
    {
      margin-bottom:10px;
    }
    .content .para
    {
      font-size:clamp(13px,3vw,18px) !important;
    }
    .para 
    {
        font-size:max(14px,2.6vw) !important;
        padding-bottom:10px !important;
        
    }
    .heading
    {
      font-size:25px !important;
      padding:0px !important;
      padding-block: 5px;
  }
  .sub_head
  {
    font-size: 17px !important;
  }
  .img_desc .img .content 
  {
    padding:5px !important;
  }
  .img_desc .img .content button{
    margin-top:0 !important;
  }
  #explore
  {
    font-size: max(12px,2vw) !important;
  }
  .layout1
  {
    padding-block:6vw !important;
  }
  .layout2
  {
    padding-top:2vw;
  }
  
  #sec1 h1
    {
        font-size:25px !important;
    }
    #part2 h1
    {
      font-size:25px !important;
    }
}