@media Screen and (max-width:1370px)
{
    .desc1
    {
        flex-direction:column;
    }
    .desc1.reverse
    {
        flex-direction:column-reverse;
        
    }
    .quotes
    {
        width:750px;
        margin-top:20px;
    }
    #discussion
    {
        width:70%;
        height:auto;
        min-width:750px;
    }

}
@media Screen and (max-width:1270px)
{
    .layout1
    {
        flex-direction:column;
        padding-block: 70px;
    }
    .layout1.reverse
    {
        flex-direction:column-reverse;
    }
    .right
    {
        width:750px;
    }
    .left
    {
        width:70%;
        height:auto;
        min-width:750px;
    }
    .img_desc
    {
        flex-direction:column;
        
    }
    .alumini_wrap
    {
        margin-top:50px;
    }
    .img_desc .img
    {
        margin-top:10px;
        margin-bottom:40px;
    }
    .img_desc .img img
    {
        width:750px;
    }
    /* .img_desc .img.bottom
    {
         padding-bottom:80px;
    } */
}
@media Screen and (max-width:790px)
{
    .right
    {
        width:100%;
        min-width :130px;
    }
    .left
    {
        height:auto;
        width:100%;
        min-width: 130px;
    }
    .left img
    {
        padding:10px;
        height:auto;
    }
    .quotes
    {
       width:100%;
        min-width :130px;
    }
    #discussion
    {
        height:auto;
       width:100%;
        min-width :130px;
        /* margin-inline:10px; */
    }
     #discussion img
    {
        padding-inline:10px;
    }
    .img_desc
    {
        padding:10px;
    }
    .img_desc .img img
    {
        width:100%;
        height:auto;
        min-width:130px;
    }
    
    
} 
@media Screen and (max-width:490px)
{
    .layout1
    {
        min-height: auto !important;
    }
}