#video_img
{
    width:100%;
    display:flex;
    flex-direction: column;
    padding:5px;
    align-items: center;

}
.align_video
{
    display:flex;
    margin-top: -10px;
    width: 90%;
}
video
{
    max-width:100%;

}
.clg_img img
{
    width: 100%;

}
.clg_img
{
  width:50%;
  padding:10px;
}
.clg
{
    display:flex;
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;
}
p
{
    font-family: var(--font-rubik);
    font-size: 20px;
    text-align:justify;
    padding-top: 20px;
}

/* aspects icons styles */

#section2
{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:100px;
    margin-bottom:100px;
}
.card
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:200px;
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:10px;
    border-left:solid 2px rgb(53, 83, 113);
}
.card:last-child
{
    border-right:solid 2px rgb(53, 83, 113);

}
.card h4{
    font-family: var(--font-rubik);
}
.card svg
{
    height:100px;
    width:100px;
    color:rgb(53, 83, 113);
    /* fill:rgb(212, 182, 182); */
}

/* section3 style */

#section3
{
  background-image: linear-gradient(to bottom,rgb(255, 236, 201),rgb(255, 236, 201),rgb(255, 236, 201),#ffffffc0);
    position: relative;
}
.desc1
{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position:relative;
  top:-30px;

}
#discussion
{
  width: 750px;
  height:500px;
}
#discussion img
{
  width:100%;
  height:100%;
}
#quotes
{
  width: 600px;
}
#quotes h5{
  font-family:var(--font-rubik);
  font-size:25px;

}
#quotes h1{
  font-family:var(--font-roboto);
  font-size:40px;
  color:#252525d0;
  padding-top:10px;
  padding-bottom:10px;
}
#quotes button
{
  margin-top:20px;
}

/* tooltip on aspects of alumini */

.item-hints {
  --purple: #720c8f;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.item-hints .hint {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-hints .hint-dot {
  z-index: 3;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
/* .item-hints .hint-radius {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
} */
.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}
.item-hints .hint-content {
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 0;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #000000;
  visibility: hidden;   
  pointer-events: none;
}
.item-hints .hint:hover .hint-content {
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  visibility: visible;
  pointer-events: none;
}
.item-hints .hint-content::before {
  width: 0;
  bottom: 29px;
  left: 0;
  content: "";
  background-color: #000000;
  height: 1.5px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 100%;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 29px;
  left: 0;
  width: 80px;
  content: "";
  background-color: #000000;
  height: 1.5px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
  bottom: 145px;
  left: 50%;
  margin-left: 56px;
}
.item-hints ,.item-hints .hint,.hint-dot
{
    width:100%;
    height:100%;
}
.hint-dot
{
    display:flex;
    flex-direction: column;
}



/* Explore #explorestyle */

#explore{
  --primary-color: #ff8400;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

#explore .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#explore .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

#explore .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

#explore:hover {
  background-color: var(--hover-color);
}

#explore:hover .arrow {
  background: var(--secondary-color);
}

#explore:hover .arrow:before {
  right: 0;
}