#video_img
{
    width:100%;
    display:flex;
    flex-direction: column;
    /* padding:5px; */
    align-items: center;

}
.align_video
{
    display:flex;
    margin-top: -10px;
    width: 90%;
}
video
{
   width:100%;

}
.layout1
{
  width:100%;
  min-height:700px;  
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items:center;
}
.left img
{
  width:100%;
  height:450px;
}
.left
{
  width:650px;
}
.right
{
  width:600px;
  padding:10px;
}
/* section3 style */

#section4
{
    width:100%;
  min-height:800px;
  display:flex;
  flex-direction: column;
  justify-content:center;
}
#section4 h1
{
  width:100%;
  text-align:center;
  padding-bottom:50px;
  padding-top:0;
}
.alumini_wrap
{
  width:100%;
  margin-top:-70px;
}
.img_desc
{
   width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;

}
.img img
{
  max-width:600px;
  height:450px;
}
.layout2
{
  /* background-image: linear-gradient(to bottom,rgb(255, 236, 201),rgb(255, 236, 201),rgb(255, 236, 201),#ffffffc0); */
  background-color: var(--light-grey);
    position: relative;
}
.desc1
{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position:relative;
  top:-30px;

}
#discussion
{
  width: 750px;
  height:500px;
}
#discussion img
{
  width:100%;
  height:100%;
}
.quotes
{
  width: 600px;
  padding:10px;
}
.heading
{
  font-family: var(--primary-font);
  font-size:50px;
  color:var(--primary-red);
  padding-bottom:20px;
}
.sub_head
{
  font-size:25px;
  color:var(--primary-red);
  padding-bottom:10px;

}
.para
{
    font-size:18px;
  color:var(--dark-grey);
  padding-bottom:20px;
  /* padding-right:10px; */
  text-align:justify;
}




/* Explore #explorestyle */

#explore{
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--white);
  padding: 1em 1.8em;
  background: var(--primary-red);
  display: flex;
  transition: 0.2s background-color;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

#explore .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#explore .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

#explore .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--white);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

#explore:hover {
  background-color: var(--primary-green);
}

#explore:hover .arrow {
  background: var(--white);
}

#explore:hover .arrow:before {
  right: 0;
}
#explore
{
  font-size:14px;
}


/* alumini meets card style */

.img_desc .img .content{
   position:absolute;
   width:100%;
   height:100%;
   background-color:var(--primary-red);
   left:0;
   top:0;
   color:var(--white);
   font-size:20px;
   font-family:var(--secondary-font);
   padding:50px;
   padding-top:15px;
   /* animation: card_anime 1.5s ease-in-out backwards reverse; */
   z-index:-1;
   display:flex;
   justify-content: center;
   align-items:center;
   flex-direction:column;

}
.img_desc .img .content h1{
  color:var(--white);
  text-align: left !important;
}
.img_desc .img .content p{
  text-align:justify;
  color:var(--white);
}
.img_desc .img .content button{
margin-top:30px;
background-color:var(--mid-red) !important;
}
.img_desc .img
{
  position:relative;
}
.img_desc .img:first-child:hover .content
{
  animation: card_anime 1s ease-in-out forwards;
}
.img_desc .img:last-child:hover .content
{
  animation: card_anime2 1s ease-in-out forwards;
}
@keyframes card_anime
{
  0%
  {
    z-index:-1;
    transform:translateX(0px);

  }
  25%{
    transform:translateX(-600px);
  }
  70%
  {
    transform:translateX(0px);

  }
  100%
  {
    z-index:5;
    transform:translateX(0px);
  }
}
@keyframes card_anime2
{
 0%
  {
    z-index:-1;
    transform:translateX(0px);

  }
  25%{
    transform:translateX(600px);
  }
  70%
  {
    transform:translateX(0px);

  }
  100%
  {
    z-index:5;
    transform:translateX(0px);
  }
}
body{
  overflow-x:hidden;
}

 /* TODO: horizontal scrolling aluminis */

 .item
{
    color:rgb(0, 0, 0);
    font-size:20px;
    position:absolute;
    padding:10px;
    /* background-color:rgb(38, 38, 38); */
    list-style: none;
    border-radius:10px;
    left:max(calc(300px * 8),100%);
    width:max-content;
    text-align: center;
    animation :scroller 80s infinite linear;
    padding-inline: 75px;

}
.scroller
{
    width:100%;
    max-width:2000px;
    height: 250px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: -60px;
}
.lists
{
    width:90%;
    position: relative;
        display: flex;
    align-items:center;
    /* border:solid red 3px; */
    height:100%;
    overflow:hidden;
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgb(0, 0, 0) 20%,
        rgb(0, 0, 0) 80%,
        rgba(0,0,0,0)
        );
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgb(0, 0, 0) 20%,
        rgb(0, 0, 0) 80%,
        rgba(0,0,0,0)
        );
   
    

}
.alumini
{
    display:flex;
    flex-direction:column;
    /* margin-left:100px;
    margin-top:150px; */
    width:max-content;

}
.alumini img
{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.alumini span{
 font-family:var(--secondary-font);
 font-size:20px;
 text-align:center;
 line-height: 30px;

}

@keyframes scroller{

    to
    {
        left:-300px;
    }
}
.item1
{
    animation-delay: calc( 80s / 8 * (8 - 1) * -1);
}
.item2
{
    animation-delay: calc( 80s / 8 * (8 - 2) * -1);

}
.item3
{
    animation-delay: calc( 80s / 8 * (8 - 3) * -1);

}
.item4
{
    animation-delay: calc( 80s / 8 * (8 - 4) * -1);

}
.item5
{
    animation-delay: calc( 80s / 8 * (8 - 5) * -1);

}
.item6
{
    animation-delay: calc( 80s / 8 * (8 - 6) * -1);

}
.item7
{
    animation-delay: calc( 80s / 8 * (8 - 7) * -1);

}
.item8
{
    animation-delay: calc( 80s / 8 * (8 - 8) * -1);

}
#section7
{
 width:100%;
 height:600px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items:center;
}
#section7 h1
{
  text-align:center;
  margin-top:-80px;
}

