#pop_up
{
    display:none;
    place-items: center;
    width:calc(100% - 20px);
    max-width: 1000px;
    min-width: 130px;
    position:fixed;
        border-radius:10px;
    background-color: var(--primary-green);
    top:450px;    
    left:50%;
    max-height:600px;    
    transform:translate(-50%,-50%);
    /* padding-inline: 10px; */
    overflow-y: auto;
    color:var(--white);
    /* margin-inline:10px; */
}

#contribution_close
{
    right:20px;
}
.padding
{
    position: relative;
    /* background-color: var(--primary-green); */
    width:100%;
    padding:30px;
    /* border-radius:10px; */
        height: 100%;
        overflow-x: auto;



}
.row h4
{
font-size:clamp(17px,2.6vw,20px);
}
.row p
{
font-size:clamp(17px,2.6vw,20px);

}
#content
{
    display:flex;
    flex-direction:column;
    width:100%;
}
.event_val
{
    font-size:20px ;
    font-family: var(--secondary-font);
}
.row
{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}
.col1
{
    width:30%;
    min-width: max-content;
}
.col2
{
    width:70%;
}
.pop_sec
{
    margin-top:10px;
}
.event_head
{
    font-size: 25px;
    font-family: var(--primary-font);
    /* color:rgb(0, 255, 208); */
    text-decoration:underline;
    margin-top:10px;
}
#data
{
    width:100%;
}
.view:hover
{
    background-color: var(--primary-green);
}
.view
{
    background-color:var(--primary-red);
    font-size:20px;
    font-weight:600;
    font-family:var(--primary-font);
    color:var(--white);
}
@media screen and (max-width:1000px)
{
    .pop_sec .row
    {
        flex-direction: column ;
    }
    #pop_up
    {
        top:420px;
    }
    .row .col2{
        width:100%;
    }
}
@media screen and (max-width:500px)
{
    .padding
    {
        padding-inline:15px;

    }
}
@media screen and (max-height:720px)
{
    #pop_up
    {
        /* height: 80%; */
        top:370px;
        max-height:80%;
    }
}
@media screen and (max-height:630px)
{
    #pop_up
    {
        /* height:75%; */
        max-height:75%;
        top:calc(75% - 20%);
    }
}
/* @media screen and (max-height:590px)
{
    #pop_up
    {
        height: 75%;
        max-height:100%;
        top:300px;
    }
}
@media screen and (max-height:500px)
{
    #pop_up
    {
        height: 75%;
        max-height:100%;
        top:270px;
    }
} */