
#myTable_wrapper
{
    font-family: var(--font-rubik);
    width:95%;
    margin:auto;
    margin-top:70px;
    background-color: var(--snow-white);
    padding:20px 10px;
    border-radius:10px;
    overflow-x: auto;
}
#myTable th
{
    font-family: var(--font-roboto);
    font-size: 20px;
}
#myTable th:nth-child(4)
{
    width: 150px;
    text-align: left;
}
#myTable tr td{
    text-align: left;
        font-size: 18px;
}