html
{
  background-color: var(--off-white);
}
body
{
    background-color: var(--off-white);
}
#myTable_wrapper
{
    font-family: var(--secondary-font) !important;
    width:100%;
    padding:20px 10px;
    border-radius:10px;
    overflow-x: auto;
    background-color: var(--white);
}
#myTable th
{
    font-family: var(--primary-font);
    font-size: 18px;
}
#myTable th:nth-child(4)
{
    width: 150px;
    text-align: left;
}
#myTable tr td:not(:last-child){
    text-align: left;
        font-size: 17px;
}
#table_section
{
    margin-top:70px;
    padding-left: 30px;
    padding-right: 30px;
}
#filter_pane
{
    margin-bottom: 20px;
}
/* #myTable td:last-child
{
  display: flex;
  justify-content: center;
} */
td,th
{
  text-align:left !important;
}
th:last-child
{
  text-align: center !important;
}
#myTable td:last-child
{
  text-align:center !important;
}
@media screen and (max-width:480px)
{
   #pane
 {
    flex-direction:column;
 }
 #pane .selection
 {
    margin-top:10px;    
 }
 
#table_section
{
     margin-top:20px;
}
}
@media screen and (max-width:1000px)
{
 thead th span
 {
  font-size:clamp(15px,2vw,18px);
 }
 tbody tr td:not(:last-child)
 {
  font-size:clamp(14px,2vw,17px) !important;
  
 }
}
@media screen and (max-width:1200px)
{
#table_section
 {
 
    padding-inline:10px;
 }
}