.accrodian .left img{
    width:120px;
    height:120px;
} 
.accrodian_wrapper
{
    display: grid;
    place-items: center;
}
.accrodian .header
{
    display:flex;
    width:100%;
    /* justify-content: space-around; */
    position:relative;
}
.accrodian .header .head
{
    display:flex;
    /* justify-content: space-around; */
    width:100%;
}
.accrodian
{
    display:grid;
    place-items: center ;
    width:90%;
}
.accrodian .header .cols
{
        /* font-family:var(--secondary-font); */
        font-size: 20px;

}
.up_down
{
    background-color:var(--primary-red);
    width:max-content;
    height:max-content;
    padding-inline:10px;
    padding-block:10px 2px;
    border-radius:50%;
    position:absolute;
    right:0;
    top:40%;
}
.up_down:hover
{
    background-color: var(--primary-green);
}
.up_down svg
{
    color:var(--white);
    width:30px;
    height:30px;
}
.accrodian .header .head .row
{
    display:flex;
    justify-content:space-between;
}
.accrodian .header .head .cols
{
    width:50%;
    text-align:left;
}
.accrodian .header .head .cols:first-child
{
    padding-left:20px;  
}
.accrodian .header .head .right
{
    width:300px;
}
.contributions
{
    max-height:0;
    width: 100%;
    overflow-y: hidden;
    text-align: left !important;
    border-top:solid 2px var(--primary-red);
}
.contributions.details
{
    max-height:max-content;
}
.up_down.down
{
    transform:rotateZ(180deg);
}
.contributions .contribute{
    margin-top:30px;
}
/* table tr
{
    border-bottom:solid 10px var(--primary-red) !important;
} */
