html
{
  background-color: var(--off-white);
}
body
{
    background-color: var(--off-white);
}
#myTable_wrapper
{
    font-family: var(--secondary-font) !important;
    width:100%;
    padding:20px 10px;
    border-radius:10px;
    overflow-x: auto;
    background-color: var(--white);
}
#myTable th
{
    font-family: var(--primary-font);
    font-size: 20px;
}
#myTable th:nth-child(4)
{
    width: 150px;
    text-align: left;
}
#myTable tr td:not(:last-child){
    text-align: left;
        font-size: 18px;
}
#table_section
{
    margin-top:70px;
    padding-left: 30px;
    padding-right: 30px;
}
#filter_pane
{
    margin-bottom: 20px;
}
/* #myTable td:last-child
{
  display: flex;
  justify-content: center;
} */
td,th
{
  text-align:left !important;
}
th:last-child
{
  text-align: center !important;
}
#myTable td:last-child
{
  text-align:center !important;
}
