<div id="pane">
    <h4 class="font_style">Filter :</h4>
    <div id="filters" class="selection">
    <select name="filter" id="filter">
        <option value="batch">Batch</option>
        <option value="company">Company</option>
        <option value="empstatus">Employee Status</option>
    </select>
</div>
<div id="filter_value" class="selection">
    <select name="filter_val" id="filter_val">
           <option value="">--Select--</option>
          <option value="2013-2015">2013-2015</option>
    <option value="2014-2016">2014-2016</option>
    <option value="2015-2017">2015-2017</option>
    </select>
</div>
</div>