    <div id="contribution_form" class="form_field">
        <div class="scroll">
        <form action="" class="form2" id="form_data2">
            <div class="close_btn close">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 10.5858L14.8284 7.75736L16.2426 9.17157L13.4142 12L16.2426 14.8284L14.8284 16.2426L12 13.4142L9.17157 16.2426L7.75736 14.8284L10.5858 12L7.75736 9.17157L9.17157 7.75736L12 10.5858Z"></path></svg>
              </div>
                    <h1>Contribution Detials</h1>
            <div class="input">
                <label for="rollno2">Roll NO</label> <br>
                <input type="text" name="rollno" id="rollno2" class="data" placeholder="Enter RollNo" pattern="[a-zA-Z0-9]+" title="Only letters and numbers are allowed" required>
            </div>
            <div class="input">
                <label for="studname2">Student Name</label> <br>
                <input type="text" name="studname" id="studname2" class="data" placeholder="Enter Student Name" required>
            </div>
            <div class="input">
                <label for="date">Event Date</label> <br>
                <input type="date" name="date" id="date" class="data" required>
            </div>
            <div class="input">
                <label for="title">Event Title</label> <br>
                <select name="title" id="title" required>
                    <option value="none">--Select--</option>
                    <option value="Workshops">Workshops</option>
                    <option value="Seminar">Seminar</option>
                    <option value="Placement Reference">Placement Reference</option>
                    <option value="Event Jury">Event Jury</option>
                </select>
            </div>
            <div class="input">
                <label for="desc">Event Description</label> <br>
                <textarea name="desc" id="desc" required></textarea>
            </div>
             <input type="hidden"  name="sno2" id='sno2' required value='0' placeholder="">
            <button type="submit" id="save2" class="save_btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Save
            </button>
        </form>
        </div>
    </div>
